#
# WARNING: heavily refactored in 0.9.0 release.  Please review and
#          customize settings for your setup.
#
# Changes:  in most of the cases you should not modify this
#           file, but provide customizations in jail.local file,
#           or separate .conf files under jail.d/ directory, e.g.:
#
# Managed by Ansible


[DEFAULT]

ignoreip = {{ fail2ban_config_ignoreip }}
bantime = {{ fail2ban_config_bantime }}
maxretry = {{ fail2ban_config_maxretry }}
action = ufw-ssh


destemail = {{ fail2ban_config_destmain }}
sender = "root@{{ ansible_hostname }}"

[sshd]
enabled = on
banaction = ufw-ssh
filter = sshd
logpath = /var/log/fail2ban.log
maxretry = {{ fail2ban_config_maxretry }}

[sshd-ddos]
enabled = on
banaction = ufw-ssh

[dropbear]
enabled = on
banaction = ufw-ssh
